section.hero.section(data-aos="fade-up")
  .container
    h1.hero__title.text-shadow.text-fill-color(data-aos="fade-up")
      | Effective IT Solutions for your business.
  +picture('hero-big-bg', 'png', 'hero-image__big')
  +picture('hero-small-bg', 'png', 'hero-image__small')
  .container
    .hero__block.border-bottom
      h2.hero__subtitle.h2.text-shadow.text-fill-color(data-aos="fade-up")
        | How we work
      .row.hero__row
        .col.hero__col(data-aos="fade-up" data-aos-delay="100")
          p.p
            | We deliver a product within the project-centric model. As a first step, we sign a contract to perform work on a product based on the requirements or technical specifications of the customer.
        .col.hero__col(data-aos="fade-up" data-aos-delay="200")
          p.p
            | This model allows the most efficient use of the company's resources and, as a result, reduces the customer's costs since all project development is carried out on the basis of the company's hardware and software complex.