-
	const data = {
		home: {
			menu: [
				{
					url: '/',
					name: 'Home page'
				},
				{
					url: 'about.html',
					name: 'Who we are'
				},
				{
					url: 'internship.html',
					name: 'Internship'
				}
			],

			accardions: [
				{
					title: 'Business analysis',
					text: 'Analysis of project tasks, business processes behind them and creation of detailed terms of reference'
				},
				{
					title: 'Design and architecture',
					text: 'Evaluation of implemented business processes, algorithms, and technologies used in processes.'
				},
				{
					title: 'Product Development',
					text: 'Implementation of terms of reference in the form of program code, user interfaces, and databases using select technologies.'
				},
				{
					title: 'Testing',
					text: 'Checking the reliability, stability, interface accessibility, and other aspects of the quality of the software product.'
				},
				{
					title: 'Integration',
					text: 'Thorough preparation of product implementation and project documentation. Compliance with integration deadlines. Training of customer personnel.'
				},
				{
					title: 'Support',
					text: 'Fast response to unexpected situations, user requirements, as well as new requests and tasks that require changes in business processes and software.'
				},
			],

			softwares: [
				{
					image: 'icon-1',
					title: 'Monitoring and management software systems',
					text: 'We offer systems for monitoring and managing communication networks that cover most of the information subsystems, such as billing, CRM, HelpDesk, sales and marketing analysis, equipment control and accounting, SLA analysis, provisioning, automatic service activation, and other important modules. Our systems include solutions for diagnosing hardware, identifying threats, and predicting network problems before they occur.'
				},
				{
					image: 'icon-2',
					title: 'Telecommunications',
					text: "Our telecommunication software solutions ensure seamless, secure, and efficient communication between your team members. We offer comprehensive solutions tailored to the needs of any business. We can optimize the operation of communication channels, improve the quality and efficiency of customer service. Our expertise in cloud technologies, data management and VoIP telephony gives us the opportunity to develop software solutions that will improve business performance and accelerate the introduction of next-generation telecommunications services into the customer's infrastructure."
				},
				{
					image: 'icon-3',
					title: 'Automation and business process management',
					text: "Automation of customer interaction strategies allows to reduce the company's costs and makes the business more efficient. It also allows you to collect all kinds of customer data for further analysis."
				}
			],

			technos: {
				0: [
					'Hive big data systems for analytical operations, integrated with HBase or directly on top of Hadoop',
					'Powerful search engines based on a combination of Lucene/SOLR and Hadoop, using Lucene for morphological analysis, complex word processing, etc.',
					'Data mining and information storage systems using open-source software tools such as Pentaho or JasperReports.',
					'Titan transactional database solutions for processing large volumes of graphic data with HBase as a data warehouse server.'
				],

				1: [
					'Spark is implemented in Scala and uses it as an application development environment. Unlike Hadoop, Spark and Scala form a tight integration whereby Scala can easily manipulate distributed datasets as local shared objects.',
					'Although Spark is designed to solve iterative problems with distributed data, it actually compliments Hadoop. It can also work together with Hadoop file systems. This is particularly useful in a Mesos clustering environment. Spark was developed at the AMP (Algorithms, Machines, and People) Lab at the University of California, Berkeley to build large-scale, high-speed data analysis applications.'
				]
			}
		},

		internship: {
			lists: [
				{
					title: '',
					subtitle: ''
				},
				{
					title: 'Requirements:',
					subtitle: "Minimum of 3 years Linux experience Experience with Ansible or similar ticketing system Great problem-solving skills Experience in establishing and supporting a monitoring system English at a level sufficient for communication with our providers' support team via email Willingness to solve problems"
				},
				{
					title: 'A big plus will be:',
					subtitle: "Basic knowledge of IP Telephone System MySQL и PostgreSQL experience clickhouse, elasticsearch experience Basic knowledge of metric collection systems Experience in configuring ipsec and other tunnels Basic knowledge of KVM virtualization"
				},
				{
					title: 'Tech stack:',
					subtitle: 'Over 150 bare metal servers worldwide with MySQL and PostgreSQL Redis, Elasticsearch, Clickhouse CI/CD из Gitlab and Jenkins Ansible'
				},
			],

			items: [
				"Official registration",
				"Annual performance-based bonuses",
				"Healthcare",
				"Work in an international team",
				"Flexible hours, possibility to work remotely",
				"Excellent work equipment",
				"Сomfortable office space",
				"Free lunch and tasty snacks",
				"Professional training and qualification upgrading",
				"Recommendation bonus for a successful candidate",
				"Relocation support for candidates from other locations"
			]
		}
	};

//- script.
//- 	window.data = {
//- 		home: !{JSON.stringify(data.home)},
//- 	};
